<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav {
  overflow: hidden;
  background-color: #01010a;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #dddddd;
  color: black;
}
h1 {
  color: rgb(7, 7, 7);
}
</style>
</head>
<body bgcolor="#C9C0BB">
<h3 style="color: #4682b4;"><Center>{{msg}}</Center></h3>
<br><br>
<center><h1>Welcome to SBI</h1></center>

<center><h3   style="color:tomato">{{msg}}</h3></center>
<div class="topnav">
  <a href="/reg_match">Open New Account</a>
  <a href="/login">Login</a>
  <a href="/hst">Admin</a>
</div>
</body>
</html>